<Config xmlns="">
    <PubSub>
        <Mqtt host="pcthink.local" port="1883" pattern="#" encoding="json" />
        <Redis host="limero.ddns.net" port="6379" pattern="*" />
        <Zenoh host="limero.ddns.net" port="7447" pattern="**" encoding="cbor" />
    </PubSub>
    <Dashboard w="1024" h="768" label="Prototype Dashboard" theme="light">
        <Col w="1024">
            <Row h="30">
                <BrokerAlive w="50" label="ZENOH" />
                <Button w="100" label="Test pub" dst="dst/esp32/sys/test" on="1" off="0" />
                <Label w="100" label="Test sub" src="dst/esp32/sys/test" timeout="6000" />
                <Label w="100" label="heap-size" src="src/esp32/sys/heap_free" timeout="6000" />
                <Switch w="100" label="Switch" src="dst/esp32/sys/switch" on="1" off="0" />
            </Row>
            <Row h="200">
                <Label w="70" h="50" label=" 70 x 50 " src="src/esp32/sys/latency" />
                <Table w="600" h="200" label="Table" src=".*" timeout="10000" />
                <Gauge w="150" label="Latency" src="src/esp32/sys/latency" suffix=" msec" timeout="100000" min="0" max="10" />
            </Row>
            <Row h="270">
                <ProgressV w="100" label="Latency" suffix="msec" src="src/esp32/sys/latency" min="0.0" max="10.0"/>
                <ProgressV w="100" label="Latency" suffix="msec" src="dst/esp32/sys/slide" min="0.0" max="10.0"/>
                <ProgressV w="100" label="Latency" suffix="msec" src="src/esp32/sys/latency" min="0.0" max="10.0"/>
                <ProgressV w="100" label="Latency" suffix="msec" src="src/esp32/sys/latency" min="0.0" max="10.0"/>
                <Plot label="Plot" unit="V" src="src/esp32/sys/latency" min="0.0" max="10.0" timespan="1000000" samples="10000" />
            </Row>
            <Row h="30">
                <Slider w="500" label="Slider" dst="dst/esp32/sys/slide" min="1.0" max="10.0" />
                <ProgressH w="500" label="Progress" unit="msec" src="dst/esp32/sys/slide" min="0.0" max="10.0" />
            </Row>

        </Col>
    </Dashboard>
</Config>