<Dashboard label="Prototype Dashboard" h="1768" w="2024" url="redis://limero.ddns.net:6379"
    xmlns="./config.xsd" theme="light">
    <Row h="40">
        <Status w="100" src="src/ws2redis/system/alive" ok="true" nok="false" label="ws2redis" />
        <Status w="200" src="src/esp32/sys/alive" ok="true" nok="false" label="ESP32" />
        <Status w="300" src="src/tiva/sys/alive" ok="true" nok="false" label="TIVA" />
    </Row>
    <Row h="200">
        <Gauge w="100" src="src/esp32/sys/heap" min="0.0" max="50000.0" label="Heap" unit="Bytes" />
        <Gauge w="200" src="src/esp32/sys/temp" min="-100" max="200" label="Temp" unit="C" />
        <Gauge w="300" src="src/esp32/sys/heap" min="0.0" max="50000.0" label="Heap" />
        <Gauge w="400" src="src/esp32/sys/heap" min="0.0" max="50000.0" label="Heap" />
    </Row>
    <Row h="30">
        <Button w="100" label="ESP32" dst="src/esp32/sys/alive" pressed="true" released="false" />
        <Button w="200" label="heap" dst="src/esp32/sys/heap" pressed="25000.0" released="off" />
        <Button w="300" label="heap" dst="src/esp32/sys/heap" pressed="25000.0" released="off" />
    </Row>
    <Col w="1024">
        <Slider h="40" w="600"  label="Voltage" unit="V" src="src/esp32/sys/heap" dst="src/esp32/sys/heap" min="0.0" max="50000.0" step="10.0" />
        <Progress h="30" w="600" label="Voltage" unit="V" src="src/esp32/sys/heap" min="0.0" max="50000.0" />
        <Plot h="200" w="500"  label="Voltage" unit="V" src="src/esp32/sys/heap" min="0.0" max="5.0" timespan="10000" samples="1000"/>
        <Table h="300" w="1000" src="src/.*" label="ESP32" timeout="10000" />
        <ValueOutput label="Voltage" w="500" unit="V" prefix="$" src="src/esp32/sys/voltage" />
        <Map label="Location" image="img/map.png" w="500" src="src/esp32/sys/location" />
        <Compass h="100" label="direction" src="src/esp32/sys/compass" />
        <ValueInput h="30" label="Voltage" unit="V" w="500" src="src/esp32/sys/voltage" />
        <Switch label="Power" w="500" dst="dst/esp32/sys/power" on="on" off="off" />
    </Col>
</Dashboard>